.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #B0C9EA;
  }
  
   .login-form, .signup-form, .adminlog-form {
    display: flex;
    flex-direction: column;
  }
 
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
  }

  .submit{
    background-color:  #FDD496;
    color: black;
    border-radius: 15px;
  }
  
  button {
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'jsMath-cmr10';
    font-style: normal;
    font-size: 18px;
    
  }
  
  .link-btn {
    background: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  } 

  .title{
    font-family: 'jsMath-cmr10';
    font-style: normal;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 42px;
  }

  